.clp_main_area {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 90%;
    box-sizing: border-box;
    margin-top: 25px;
}
.clp_common {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 20px 25px;
}
.clp_body_area {
    flex-basis: 70%;
    margin-right: 5%;
}
.clp_sidebar_area {
    flex-basis: 25%;
}
.clp_main_area h3#title {
    display: block;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    border-left: 5px solid #bd5fff;
    margin-bottom: 20px;
    margin-top: 5px;
}

.clp_main_area label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}
.clp_main_area small {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    color: #535c68;
}

.clp_main_area input {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 90%;
    padding: 15px;
}
.clp_main_area input[type='color'] {
    padding: 5px;
    cursor: pointer;
    width: 100px;
    height: 70px;
}
.clp_main_area input[type='submit'] {
    background: #bd5fff;
    border: 1px solid #bd5fff;
    color: #fff;
    padding: 8px 35px;
    width: auto;
    cursor: pointer;
    transition: 0.5s;
}
.clp_main_area input[type='submit']:hover {
    background: #262626;
    border: 1px solid #262626;
    /* color: #fff; */
}

.clp_main_area > clp_sidebar_area > img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
